<h1 class="project-form-header">Build your project!</h1>
<form class="project-form">

  <div class="project-form-group">

  <% if (errors) { %>
    <ul class="errors">
      <% errors.forEach( function (error) { %>
        <%= error %>
      <% }); %>
    </ul>
  <% } %>

    <div class="project-form-element clearfix">
      <script
        src="//widget.cloudinary.com/global/all.js"
        type="text/javascript">
      </script>

      <label for="project-image">Project Image</label>
      <input type="hidden" name="project[image_path]" id="project-image-path">
      <span>
        <img src="http://placehold.it/400x200?text=Upload+an+image" id="form-thumbnail">
        <button class="button" id="upload-button">Upload New Image</button>
      </span>
    </div>

    <div class="project-form-element clearfix">
      <label for="project-title">Project Title</label>
      <div class="project-input">
        <input
          type="text"
          name="project[title]"
          id="project-title"
          value="<%= project.title %>"
          placeholder="Enter your title here...">
        </div>
    </div>

    <div class="project-form-element clearfix">
      <label for="project-description">Project Description</label>
      <div class="project-input">
        <textarea
          name="project[description]"
          id="project-description"
          placeholder="Describe your project here..."><%= project.description %></textarea>
        </div>
    </div>

    <div class="project-form-element clearfix">
      <label for="project-category">Category</label>
      <div class="project-input" id="category-select"></div>
    </div>

    <div class="project-form-element clearfix">
      <label for="project-duration">Funding Duration (days)</label>
      <div class="project-input">
        <input
          type="text"
          name="project[duration]"
          id="project-duration"
          value="<%= project.goal_amount || 30 %>">
      </div>
      <p class="duration-rec">1-60 days, 30 days recommended</p>
    </div>

    <div class="project-form-element clearfix">
      <label for="project-goal_amount">Funding Goal</label>
      <div class="project-input">
        <input
          type="text"
          name="project[goal_amount]"
          id="project-goal_amount"
          value="$<%= project.goal_amount %>">
      </div>
    </div>

    <div class="reward-input-list">
    </div>

    <div id="add-reward">
      Add an new reward.
    </div>


  </div>

  <footer class="submit-footer">
    <input class="button" type="submit" value="Launch">
  </footer>

</form>
