<h1 class="category-title">
  Showing
  <select class="index-dropdown category-select">
    <option value="">Everything</option>
    <% categories.each(function(category) { %>

      <option
        value="<%= category.id %>"
        <%= categoryId == category.id ? "selected" : "" %>>
        <%= category.get("title") %>
      </option>

    <% }); %>
  </select>
  <br>
  Sorted by
  <select class="index-dropdown sort-select">

      <option value="Magic">
        Magic
      </option>
      <option
        value="Popularity"
        <%= sortedBy === "Popularity" ? "selected" : ""%>>
        Popularity
      </option>
      <option
        value="Newest"
        <%= sortedBy === "Newest" ? "selected" : ""%>>
        Newest
      </option>
      <option
        value="EndDate"
        <%= sortedBy === "EndDate" ? "selected" : ""%>>
        End Date
      </option>
      <option
        value="MostFunded"
        <%= sortedBy === "MostFunded" ? "selected" : ""%>>
        Most Funded
      </option>

  </select>

</h1>
<ul class="projects-list clearfix">
</ul>
