<!-- todo: add client-side validations -->

<main class="user-form-container">
  <h1>Sign Up</h1>

  <% if flash[:errors] %>
    <ul class="errors">
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <form class="user-form" action="/users" method="post">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>"
    >

    <input
      type="text"
      name="user[name]"
      value="<%= @user.name %>"
      placeholder="Name"
    >

    <input
      type="text"
      name="user[email]"
      value="<%= @user.email %>"
      placeholder="Email"
    >

    <!--
    todo: implement confirmation for signups
    <input
      type="text"
      name="user[email_confirmation]"
      value="<%= @user.email %>"
      placeholder="Re-enter Email"
    > -->

    <input
      type="password"
      name="user[password]"
      placeholder="Password"
    >

    <!-- <input
      type="password"
      name="user[password_confirmation]"
      placeholder="Re-enter Password"
    > -->


    <input class="user-button" type="submit" value="Sign me up!">
  </form>
  <div class="user-form-link">
    <p>Have an account? <a href="<%= new_session_url %>">Log in</a>
  </div>
<main class="user-form-container">
