<div class="project-title">
  <h1><%= pledge.project().escape("title") %></h1>
  <h2>by <%= pledge.project().owner().escape("name") %></h2>
</div>

<form class="pledge-form">

  <div class="pledge-form-group">
  <h1>Alrighty!</h1>

    <% if (errors) { %>
      <ul class="errors">
        <% errors.forEach( function (error) { %>
          <%= error %>
        <% }); %>
      </ul>
    <% } %>

    <input
      type="hidden"
      name="pledge[project_id]"
      value="<%= pledge.escape("project_id") %>">

    <div class="pledge-amount">
      <label for="pledge-amount"><h2>Enter your pledge amount</h2></label>
      <input
        type="text"
        name="pledge[amount]"
        id="pledge-amount"
        value="$<%= startAmount %>">
    </div>

    <h2>Select your reward</h2>
    <ul class="rewards-options-list">

      <li class="rewards-options-list-item">
        <label for="reward-nil" class="clearfix">
          <input
            type="radio"
            name="pledge[reward_id]"
            value=""
            id="reward-nil">
          <h3 class="reward-option-amount">No reward</h3>
          <div class="reward-option-description">
            No thanks, I just want to help the project.
          </div>
        </label>

      </li>
    </ul>
    <footer class="submit-footer">
      <input class="button submit-button" type="submit" value="Pledge">
    </footer>
  </div>


</form>
