<h2 class="reward-number">Reward #<%= num %></h2>
<div class="reward-input">
  <div class="reward-row clearfix">

    <label for="reward-amount-<%= num %>">Pledge Amount</label>
    <input
      type="text"
      class="reward-amount"
      id="reward-amount-<%= num %>"
      name="project[reward][<%= num %>][amount]"
      value="$<%= reward.escape("amount") %>">

  </div>
  <div class="reward-row clearfix">

    <label for="reward-description-<%= num %>">Description</label>
    <textarea
      id="reward-description-<%= num %>"
      name="project[reward][<%= num %>][description]"
    ><%= reward.escape("description") %></textarea>

  </div>
</div>
